streamlit==1.49.1
pandas==2.3.2
numpy==2.3.3
plotly==6.8.0
scikit-learn==1.8.0
scipy==1.17.1
joblib==1.5.3
matplotlib==3.10.6
SQLAlchemy==2.0.51
psycopg2-binary==2.9.12
statsmodels==0.14.6
python-dotenv==1.2.2
requests==2.32.5
GitPython==3.1.45
watchdog==6.0.0
shap==0.48.0
kaleido==0.2.1